:root{
    --main-bg-color:brown;
}
.max-width1{
    width: 80vw;
}
.max-width2{
    width: 60vw;
}
.m-auto{
    margin: auto;
}
.btn{
    padding: 3px 10px;
    border: 2px solid black;
    font-size: 12px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.4s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
    cursor: pointer;

}
.from-input{
    padding: 3px 5px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}